{% extends "quoteapp/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <form method="POST" action="{% url 'quoteapp:create_tag' %}">
        {% csrf_token %}
        <div style="padding: 10px">
            <label> Tag name:
                {{ tag_form.name }}
            </label>
            <span>{{ tag_form.errors.name }}</span>
        </div>
        <div class="grid">
            <button type="submit">Submit</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
    </form>
{% else %}
    <p>You must be <a href="{% url 'users:login' %}">logged in</a> to create a tag.</p>
{% endif %}
{% endblock %}
